@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

.neonButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  color: #fde047;
  transition: all 0.3s;
  border: 1px solid #a855f7;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(147, 51, 234, 0.5);
  font-family: "Rajdhani", sans-serif;
}

.iconVariant {
  padding: 0.5rem;
  aspect-ratio: 1 / 1;
}

.icon {
  margin-left: 0.5rem;
}
