@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
/* font-family: "Rajdhani", sans-serif; */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "Rajdhani", sans-serif;
}

.popup {
  background: linear-gradient(90deg, rgb(19 15 73) 0%, rgb(46 20 102) 100%);
  border-radius: 20px;
  border: 2px solid #00ffff;
  /* padding: 20px; */
  width: 80%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0px 0px 25px 0px #00ffff94;
}

/* .popup {
  background: linear-gradient(90deg, rgb(19 15 73) 0%, rgb(46 20 102) 100%);
  border-radius: 20px;
  border: 1px solid #ffc107;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */
.title {
  color: gold;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 10px;
}
.iconContainer {
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
}

.icon {
  font-size: 60px;
  color: white;
  margin-top: 10px;
  margin-right: 2px;
  width: 50%;
  height: 50%;
}

.dollarSign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd700;
  font-size: 24px;
  font-weight: bold;
}

.reward {
  color: gold;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 0px;
}

/* .claimButton {
  background-color: #0051ff;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 23px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  width: 60%;
  cursor: pointer;
  transition: background-color 0.3s;
} */
.claimButton {
  background: linear-gradient(180deg, #ffff00 0%, #ffa500 100%);
  border: 2px solid #001429;
  box-shadow: -6px 3px 0px 0px #6e2091;
  color: black;
  /* border: none; */
  padding: 10px 34px;
  border-radius: 20px;
  margin-bottom: 15px;
  /* margin-top: 7px; */
  cursor: pointer;
  font-weight: bold;
  /* transition: all 0.3s ease; */
}
.claimButton:hover {
  background-color: #6a1b9a;
}
